
body{
    font-size: 14px;
}
.footer{
    
    padding-top: 50px;
}
.pd-r{ 
    padding-right: 3rem ;
}
.pd-l{
     padding-left: 3rem ;
    }
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px;
    
}
.max-wd{
    max-width: 300px;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.pd-0{
    padding: 0;
}
.acard{
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
    padding: 0;
}
.footer-menu-item{
    display: block;
    margin: 20px;
}
.footer-h4{
    margin-top: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#14857d;
    transition: cubic-bezier(1, 0, 0, 1)
}
.mt-1{
    margin-top: 30px;
}
.img_payment{
    height: 35px;
    width: 60px;
}
.payment{
    flex-wrap: wrap;
    padding: 20px;
}
.payment_item{
    padding-left: 20px;
    padding-right: 20px;
}
.footer_elements{
    border-bottom: 1px solid rgb(138, 106, 106);
}
