* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.21);
    background-color: #FFE2D3;
    position: sticky;
}


.log {
    padding-top: 10px;
}

nav a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
}
nav ul a:hover {

    margin: 0;
    color:#14857d;
}
.log{
    width: 90px;
    height: 70px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 1460px) {
    header {
        background-color: #FFE2D3;
        display:flex
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: 15px;
    }
}