.contact-link:hover {
    color: #0056b3; /* Altera a cor do link de email quando hover */
}

.whatsapp-link:hover {
    color: #C4ECE9; /* Altera a cor do link do WhatsApp quando hover */
}

.feacture_enterprise i {
    font-size: 18px; /* Define o tamanho dos ícones para 24 pixels */
}

.featured_home.welcome {
    border-radius: 10px; /* Raio de borda */
    overflow: hidden; /* Esconder qualquer conteúdo que ultrapasse os limites da seção */
    background-color: transparent; /* Fundo transparente */
    padding: 20px; /* Espaçamento interno */
}
.form-contact{
    margin: 100px 0 100px 0;
}
.featured_container {
    max-width: 800px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centralizar horizontalmente */
}

.contact-form {
    text-align: center;
    background-color: #9ee9e5; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda levemente arredondada */
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Margem inferior */
    box-sizing: border-box; /* Incluir padding e border na largura total */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda levemente arredondada */
    background-color: #ffffff; /* Cor de fundo branco */
    color: #333333; /* Cor do texto */
}

.contact-form button {
    width: 100%; /* Largura total */
    padding: 12px; /* Espaçamento interno */
    box-sizing: border-box; /* Incluir padding e border na largura total */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda levemente arredondada */
    background-color: #d1ad9b; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    cursor: pointer; /* Alterar cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.contact-form button:hover {
    color: #000000; /* Cor de fundo mais escura ao passar o mouse */
    font-size: 15px;
}   

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000; /* Cor laranja */
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000; /* Cor laranja */
    border-radius: 5px;
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Cor preta */
    text-align: center; /* Centraliza o texto */
}

.form-group textarea {
    resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #000000; /* Cor escura para o texto do placeholder */
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
}

.btn.fill {
    background-color: #9ee9e5; /* Cor laranja */
    color: #ffffff; /* Cor branca */
}






.welcome p {
    color: #000000; /* Cor preta */
}

/* Estilos para a Política de Privacidade */
.featured_home.welcome .privacy-policy {
    text-align: center; /* Alinha o texto ao centro */
}

.featured_home.welcome .privacy-policy p {
    margin-bottom: 20px; /* Adiciona espaço entre os parágrafos */
}

/* Adiciona espaço interno e externo ao contêiner da política de privacidade */
.featured_home.welcome .featured_container.privacy-policy {
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Espaçamento externo e centralização horizontal */
    max-width: 800px; /* Largura máxima do contêiner */
    background-color: #f5f5f5; /* Cor de fundo do quadrado */
    border-radius: 10px; /* Raio da borda do quadrado */
}

.featured_home.welcome .featured_container.privacy-policy .inner-container {
    padding: 20px; /* Espaçamento interno do quadrado interno */
    text-align: justify; /* Alinha o texto ao centro */
}